@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    width: 70%;
  }
}

@layer components {
  .border-input {
    @apply rounded border-2 border-black my-2;
  }

  .wrapper-content {
    @apply shadow-lg shadow-indigo-200 min-h-[50%] min-w-[50%] rounded-lg border-2 border-indigo-800 p-1;
  }

  .wrapper-parent-page {
    @apply h-screen flex justify-center items-center;
  }

  .hover-navbar {
    @apply border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6;
  }

  .active-navbar {
    @apply border-b-2 border-transparent active:text-gray-800 dark:active:text-gray-200 active:border-blue-500 mx-1.5 sm:mx-6;
  }

  .container a.active {
    @apply border-b-2 border-transparent text-gray-800 dark:text-gray-200 border-blue-500 mx-1.5 sm:mx-6;
  }

  .btn {
    @apply font-bold py-1 px-1 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }

  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }

  .border-cell {
    @apply border px-8 py-4;
  }
}
